
<div class="row nt-5">
  <div class="col-8">
    <h2>I miei Progetti</h2>
  </div>
  <div class="col text-end">
    <button class="btn btn-link" routerLink="/home">Torna alla Dashboard</button>
  </div>
</div>

<hr />

<app-project-list [projects]="projects" (selected)="selectProject($event)"></app-project-list>
     <!-- originale nel figlio     valore parent-->

<hr>
<p *ngIf="selectedProject">Progetto selezionato: {{selectedProject.name}}</p>
<app-project-detail [project]='selectedProject'></app-project-detail>



<hr>

<app-project-form (submitted)="submitProjectForm($event)"></app-project-form>
        <!--output figlio          metodo padre       -->






