


<app-project-list [projects]="projects" (selected)="selectProject($event)"></app-project-list>
     <!-- originale nel figlio     valore parent-->

<hr>
<p *ngIf="selectedProject">Progetto selezionato: {{selectedProject.name}}</p>
<app-project-detail [project]='selectedProject'></app-project-detail>



<hr>

<app-project-form (submitted)="submitProjectForm($event)"></app-project-form>
        <!--output figlio          metodo padre       -->





<ng-template #noProject>
  <p>Non è presente nessun progetto</p>
</ng-template>
<!-- fall back da visualizzare, nel caso in cui non ci sono progetti -->
