<div class="container">
  <header class="d-flex align-items-center flex-wrap justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="#" class="navbar-brand">NG Project Tracking</a>

    <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary" routerLink="/home" routerLinkActive="active">Dashboard</a></li>
      <li><a href="#" class="nav-link px-2 link-dark" routerLink="/projects" routerLinkActive="active">Progetti</a></li>
      <!-- mettendo il percorso nell'href, l'app si ricarica ogni volta, e non va bene -->
      <!-- quindi il percorso si inserisce con routerLink /path -->

      <!-- aggiungengo navpills e routerlinkactive, quando il path è attivo il bottone si riempie e si colora -->
    </ul>

  </header>
</div>
